In [1]:
import pandas as pd
CasiTotali = [3, 20, 79, 132, 229, 322, 400, 650, 888, 1128, 1694, 2036, 2502, 3089, 3858, 4636, 5883, 7375, 9172, 10149, 12462, 15113, 17660, 21157, 24747, 27980, 31506, 35713, 41035, 47021, 53578, 59138, 63927, 69176, 74386, 80539, 86498, 92472, 97689, 101739, 105792, 110574, 115242, 119827, 124632, 128948, 132547, 135586, 139422, 143626, 147577, 152271, 156363, 159516, 162488, 165155, 168941, 172434, 175925, 178972, 181228, 183957, 187327, 189973, 192994, 195351, 197675, 199414, 201505, 203591, 205463, 207428]
Deceduti = [0, 1, 2, 2, 7, 10, 12, 17, 21, 29, 34, 52, 79, 107, 148, 197, 233, 366, 463, 631, 827, 1016, 1266, 1441, 1809, 2158, 2503, 2978, 3405, 4032, 4825, 5476, 6077, 6820, 7503, 8165, 9134, 10023, 10779, 11591, 12428, 13155, 13915, 14681, 15362, 15887, 16523, 17127, 17669, 18279, 18849, 19468, 19899, 20465, 21067, 21645, 22170, 22745, 23227, 23660, 24114, 24648, 25085, 25549, 25969, 26384, 26644, 26977, 27359, 27682, 27967, 28236]
Guariti = [0, 0, 0, 1, 1, 1, 3, 45, 46, 50, 83, 149, 160, 276, 414, 523, 589, 622, 724, 1004, 1045, 1258, 1439, 1966, 2335, 2749, 2941, 4025, 4440, 5129, 6072, 7024, 7432, 8326, 9362, 10361, 10950, 12384, 13030, 14620, 15729, 16847, 18278, 19758, 20996, 21815, 22837, 24392, 26491, 28470, 30455, 32534, 34211, 35435, 37130, 38092, 40164, 42727, 44927, 47055, 48877, 51600, 54543, 57576, 60498, 63120, 64928, 66624, 68941, 71252, 75945, 78249]
Positivi = [3, 19, 77, 129, 221, 311, 385, 588, 821, 1049, 1577, 1835, 2263, 2706, 3296, 3916, 5061, 6387, 7985, 8514, 10590, 12839, 14955, 17750, 20603, 23073, 26062, 28710, 33190, 37860, 42681, 46638, 50418, 54030, 57521, 62013, 66414, 70065, 73880, 75528, 77635, 80572, 83049, 85388, 88274, 91246, 93187, 94067, 95262, 96877, 98273, 100269, 102253, 103616, 104291, 105418, 106607, 106962, 107771, 108257, 108237, 107709, 107699, 106848, 106527, 105847, 106103, 105813, 105205, 104657, 101551, 100943]

# pad missing data with -1 
Isolamento_domiciliare = [-1, -1, -1, 49, 94, 162, 221, 284, 412, 543, 798, 927, 1000, 1065, 1155, 1060, 1843, 2180, 2936, 2599, 3724, 5036, 6201, 7860, 9268, 10197, 11108, 12090, 14935, 19185, 22116, 23783, 26522, 28697, 30920, 33648, 36653, 39533, 42588, 43752, 45420, 48134, 50456, 52579, 55270, 58320, 60313, 61557, 63084, 64873, 66534, 68744, 71063, 72333, 73094, 74696, 76778, 78364, 80031, 80589, 80758, 81104, 81510, 81710, 82286, 82212, 82722, 83504, 83619, 83652, 81708, 81796]
Ricoverati_sintomi = [-1, -1, -1, 54, 101, 114, 128, 248, 345, 401, 639, 742, 1034, 1346, 1790, 2394, 2651, 3557, 4316, 5038, 5838, 6650, 7426, 8372, 9663, 11025, 12894, 14363, 15757, 16020, 17708, 19846, 20692, 21937, 23112, 24753, 26029, 26676, 27386, 27795, 28192, 28403, 28540, 28741, 29010, 28949, 28976, 28718, 28485, 28399, 28242, 28144, 27847, 28023, 28011, 27643, 26893, 25786, 25007, 25033, 24906, 24134, 23805, 22871, 22068, 21533, 21372, 20353, 19723, 19210, 18149, 17569]
Terapia_intensiva = [-1, -1, -1, 26, 26, 35, 36, 56, 64, 105, 140, 166, 229, 295, 351, 462, 567, 650, 733, 877, 1028, 1153, 1328, 1518, 1672, 1851, 2060, 2257, 2498, 2655, 2857, 3009, 3204, 3396, 3489, 3612, 3732, 3856, 3906, 3981, 4023, 4035, 4053, 4068, 3994, 3977, 3898, 3792, 3693, 3605, 3497, 3381, 3343, 3260, 3186, 3079, 2936, 2812, 2733, 2635, 2573, 2471, 2384, 2267, 2173, 2102, 2009, 1956, 1863, 1795, 1694, 1578]

In [2]:
data = {
    'ricoverati_con_sintomi': Ricoverati_sintomi,
    'terapia_intensiva': Terapia_intensiva,
    'isolamento_domiciliare': Isolamento_domiciliare,
    'totale_casi': CasiTotali,
    'totale_positivi': Positivi,
    'dimessi_guariti': Guariti,
    'deceduti': Deceduti
}

df = pd.DataFrame(data)

df['stato'] = 'ITA'

df

,ricoverati_con_sintomi,terapia_intensiva,isolamento_domiciliare,totale_casi,totale_positivi,dimessi_guariti,deceduti,stato
0,-1,-1,-1,3,3,0,0,ITA
1,-1,-1,-1,20,19,0,1,ITA
2,-1,-1,-1,79,77,0,2,ITA
3,54,26,49,132,129,1,2,ITA
4,101,26,94,229,221,1,7,ITA
...,...,...,...,...,...,...,...,...
67,20353,1956,83504,199414,105813,66624,26977,ITA
68,19723,1863,83619,201505,105205,68941,27359,ITA
69,19210,1795,83652,203591,104657,71252,27682,ITA
70,18149,1694,81708,205463,101551,75945,27967,ITA
71,17569,1578,81796,207428,100943,78249,28236,ITA

In [3]:
# add date column

start_date = pd.to_datetime("2020-02-20")

dates = [start_date + pd.DateOffset(days=i) for i in range(0, len(CasiTotali))]

df['data'] = dates

totale_ospedalizzati = pd.concat([df['totale_positivi'][:4], df['totale_positivi'][4:] - df['isolamento_domiciliare'][4:]])
df['totale_ospedalizzati'] = totale_ospedalizzati

df

,ricoverati_con_sintomi,terapia_intensiva,isolamento_domiciliare,totale_casi,totale_positivi,dimessi_guariti,deceduti,stato,data,totale_ospedalizzati
0,-1,-1,-1,3,3,0,0,ITA,2020-02-20,3
1,-1,-1,-1,20,19,0,1,ITA,2020-02-21,19
2,-1,-1,-1,79,77,0,2,ITA,2020-02-22,77
3,54,26,49,132,129,1,2,ITA,2020-02-23,129
4,101,26,94,229,221,1,7,ITA,2020-02-24,127
...,...,...,...,...,...,...,...,...,...,...
67,20353,1956,83504,199414,105813,66624,26977,ITA,2020-04-27,22309
68,19723,1863,83619,201505,105205,68941,27359,ITA,2020-04-28,21586
69,19210,1795,83652,203591,104657,71252,27682,ITA,2020-04-29,21005
70,18149,1694,81708,205463,101551,75945,27967,ITA,2020-04-30,19843
71,17569,1578,81796,207428,100943,78249,28236,ITA,2020-05-01,19147

In [4]:
# reorder columns

df = df[[
    'data', 'stato', 'ricoverati_con_sintomi', 'terapia_intensiva', 'totale_ospedalizzati', 'isolamento_domiciliare',
    'dimessi_guariti', 'deceduti', 'totale_casi', 'totale_positivi'
]]

df

,data,stato,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,dimessi_guariti,deceduti,totale_casi,totale_positivi
0,2020-02-20,ITA,-1,-1,3,-1,0,0,3,3
1,2020-02-21,ITA,-1,-1,19,-1,0,1,20,19
2,2020-02-22,ITA,-1,-1,77,-1,0,2,79,77
3,2020-02-23,ITA,54,26,129,49,1,2,132,129
4,2020-02-24,ITA,101,26,127,94,1,7,229,221
...,...,...,...,...,...,...,...,...,...,...
67,2020-04-27,ITA,20353,1956,22309,83504,66624,26977,199414,105813
68,2020-04-28,ITA,19723,1863,21586,83619,68941,27359,201505,105205
69,2020-04-29,ITA,19210,1795,21005,83652,71252,27682,203591,104657
70,2020-04-30,ITA,18149,1694,19843,81708,75945,27967,205463,101551
71,2020-05-01,ITA,17569,1578,19147,81796,78249,28236,207428,100943

In [5]:
df.to_csv("./data/giordano.csv", index=False)